<!-- NAV -->
<nav>
        <ul class="main-nav">
            <li>Alumno: <%= username %></li>
            <a href="/logout"><li>Cerrar sesión</li></a>
        </ul>
    </nav>

    <div class="exports-container">
            <span title="Export table to excel" class="export-excel"><i class="far fa-file-excel"></i></span>
            <span title="Copy table into clipboard" class="copy-clipboard"><i class="far fa-copy"></i></span>
            <span title="Print table" class="print"><i class="fas fa-print"></i></span>
            
    </div>